:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --pretty-color: #f5f4fa;
  --dark-grey: #afb1b8;
  --overlay: rgba(47, 48, 58, 0.4);
  --hero-background: #2f303a;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.modal__button, .checkbox-icon-wrapper, .our-clients__link, .social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

b {
  font-size: 14px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background: var(--white-color);
  color: var(--primary-text-color);
  color: #afb1af;
}

.section-definition {
  padding-top: 94px;
  padding-bottom: 94px;
  display: block;
}

.section {
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.thumb {
  position: absolute;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--title-text-color);
}

.nav__logo--color-black {
  color: var(--accent-color);
}

.logo,
.nav__logo--color-black {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
}

@media screen and (max-width: 767px) {
  .logo {
    padding: 16px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.button {
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: 250ms;
  background-color: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 87px;
}

.portfolio-buttons__button:hover,
.portfolio-buttons__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-buttons .portfolio-buttons__item + .portfolio-buttons__item {
  margin-left: 8px;
}

.portfolio-buttons .portfolio-buttons__item + .portfolio-buttons__item {
  margin-left: 8px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

.modal__button {
  fill: #000000;
}

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: var(--accent-color);
}

.hero__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.portfolio-buttons__button {
  padding: 6px 22px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.625;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: aliceblue;
  color: var(--title-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons__button:hover,
.portfolio-buttons__button:focus {
  background-color: var(--accent-color);
  color: var(--pretty-color);
}

.submit-button {
  align-self: center;
  padding: 10px 55px;
  margin-top: 30px;
  background-color: var(--accent-color);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.subscribe-form__button {
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__button:hover, .subscribe-form__button:focus {
  background-color: var(--hero-button-hover-color);
}

.subscribe-form__button .input {
  margin-left: 10px;
}

.mobile-menu__button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.mobile-menu__button:hover, .mobile-menu__button:focus {
  color: var(--accent-color);
}

.mobile-menu__button {
  display: block;
}

@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.modal-icon {
  fill: #000000;
  display: block;
}

.modal-icon:hover, .modal-icon:focus {
  fill: var(--accent-color);
}

.modal-meny {
  fill: #000000;
  display: block;
}

.modal-meny:hover, .modal-meny:focus {
  fill: var(--accent-color);
}

.mobile-menu__button--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__button .modal-icon {
  display: block;
}

@media screen and (max-width: 1200px) {
  .examples {
    display: none;
  }
}

.examples-title {
  text-align: center;
  color: var(--title-text-color);
  align-items: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .examples-title {
    font-size: 36px;
    line-height: 1.166;
  }
}

.our-works-examples {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our {
  display: block;
}

.our-works {
  position: relative;
}

.images-list {
  display: flex;
  justify-content: center;
}

.our-works-text__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.our-works-examples {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.social-list {
  margin: auto;
  display: flex;
  justify-content: center;
}

.social-list__item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  margin-right: 10px;
  /* padding: 12px; */
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  color: #afb1af;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}

@media screen and (max-width: 479px) {
  .modal {
    padding: 15px;
  }
}

@media screen and (max-width: 479px) {
  .modal {
    width: 95%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__button:hover .modal-icon {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form__label {
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__wrapper {
  position: relative;
}

.modal-form__wrapper .input {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__input:focus + .input {
  fill: var(--accent-color);
}

.modal-form__input:hover,
.modal-form__textarea:hover,
.modal-form__label:hover {
  cursor: pointer;
}

.modal-form__wrapper .input {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .input {
  fill: var(--accent-color);
}

.input {
  fill: currentColor;
}

.modal-policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  cursor: pointer;
}

.modal-form__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .modal-policy {
    font-size: 14px;
    line-height: 1.714;
  }
}

.checkbox-icon-wrapper {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked + .checkbox-icon-wrapper {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon/checked.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}

.policy-checkbox:focus + .checkbox-icon-wrapper {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.modal-policy__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-meny {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.header {
  position: relative;
}

.navigation__item {
  font-size: 14px;
}

.header-nav {
  border-bottom: 1px solid #ececec;
  display: flex;
}

.navigation__link {
  font-size: 14px;
  position: relative;
  display: block;
  font-weight: 500;
  color: var(--title-text-color);
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.header-contacts__link {
  font-size: 14px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

.active-nav::after {
  content: '';
  position: absolute;
  bottom: -33px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.navigation__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header .navigation__link,
.header.header-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: 90px;
}

@media screen and (max-width: 1199px) {
  .navigation {
    display: none;
  }
}

.navigation .navigation__item + .navigation__item {
  margin-left: 50px;
}

.header-contacts {
  margin-left: 274px;
}

@media screen and (max-width: 1199px) {
  .header-contacts {
    display: none;
  }
}

.header-contacts .navigation__item + .navigation__item {
  margin-left: 50px;
}

.header-contacts__link {
  display: flex;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.header-contacts__link .contacts {
  margin-right: 10px;
  fill: currentColor;
}

.contacts {
  margin-top: 2px;
}

.header-contacts__link .list {
  margin-right: 6px;
}

.header-contacts .header-contacts__item + .header-contacts__item {
  margin-left: 30px;
}

.contacts-icons {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts__item :not(:first-child) {
  margin-left: 50px;
}

.link-item {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item .list {
  margin-right: 6px;
}

.header-nav {
  display: block;
}

@media screen and (max-width: 1200px) {
  .header-nav {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-color: var(--white-color);
  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-list__link--current {
  color: var(--accent-color);
}

.contacts-list {
  margin-bottom: 64px;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-list__link--big {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .contacts-list__link--big {
    font-size: 34px;
    line-height: 1.176;
  }
}

.contacts-list__link--small {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: inherit;
}

.social-link-list {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .social-link-list {
    flex-wrap: wrap;
  }
}

.social-link-list__item {
  margin-bottom: 10px;
}

.social-link-list__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-link-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.data {
  border: 0;
  border-radius: 4px;
}

.data:hover, .data:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 480px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background/background-mobile-1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-size: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background/background-tablet-1x.jpg");
    background-size: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background/background-desktop-1x.jpg");
    background-size: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background/background-desktop-2x.jpg");
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background/background-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background/background-mobile-2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-size: 480px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background/background-tablet-1x.jpg");
    background-size: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background/background-tablet-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background/background-desktop-1x.jpg");
    background-size: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-background/background-desktop-2x.jpg");
  }
}

.images-list__item + .images-list__item {
  margin-left: 30px;
}

.our-works-text__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.anntena {
  width: 70px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.anntena :hover .anntena:focus {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.definition-list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .definition-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .description-list__item {
    width: calc((100% - 30px) / 2);
  }
  .description-list__item :not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .description-list__item :not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .description-list__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .description-list__item :not(:last-child) {
    margin-right: 30px;
  }
}

.description-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.direction-link {
  margin-left: 30px;
  margin-bottom: 30px;
}

.card-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-link:hover, .card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-list__link:hover .portfolio-card,
.portfolio-list__link:focus .portfolio-card {
  transform: translateY(0);
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-card {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-tehno {
  position: relative;
  overflow: hidden;
}

.card-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.portfolio-list__content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  border-top: none;
}

.description-list__item {
  margin-right: 30px;
}

.portfolio-list__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.description {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (max-width: 767px) {
  .description {
    text-align: center;
  }
}

.text {
  height: 75px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.drim-tim {
  padding-bottom: 94px;
  background: #f5f4fa;
}

@media screen and (min-width: 1199px) {
  .drim-list {
    display: flex;
  }
}

.our-works {
  padding-top: 0;
}

.drim-list__item:not(:nth-last-child(-n + 1)) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .drim-list__item {
    width: calc((100% - 30px) / 2);
  }
  .drim-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .drim-list__item:not(:nth-last-child(-n + 1)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .drim-list__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .drim-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.our {
  display: block;
}

.profession-name {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.profession_description {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}

.profession__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.social-list {
  margin: auto;
  display: flex;
  justify-content: center;
}

.social-list__item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  margin-right: 10px;
}

.social-list__item:hover, .social-list__item:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.sprite {
  fill: currentColor;
  width: 20px;
  height: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  color: #afb1af;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-list__item {
  height: 92px;
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 30px) / 2);
  }
  .clients-list__item :not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients-list__item :not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .clients-list__item :not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-list__item :not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 5 * 30px) / 6);
  }
  .clients-list__item :not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
}

.clients-list__item :not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .our-clients-list__item {
    width: calc((100% - 30px) / 2);
  }
  .our-clients-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .our-clients-list__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-clients-list__item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .our-clients-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .our-clients-list__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.client-logo {
  fill: currentColor;
  width: 106px;
}

@media screen and (min-width: 1199px) {
  .client-logo {
    height: 60px;
  }
}

.our-clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__link:hover, .our-clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.our-clients__link:focus-visible {
  border: 1px solid var(--accent-color);
}

.footer {
  display: block;
  background: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: baseline;
  }
}

.info .index {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1199px) {
  .info .index {
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .index {
    margin-right: 70px;
  }
}

.footer-address-container {
  padding-right: 70px;
}

@media screen and (max-width: 480px) {
  .footer-address-container {
    padding-bottom: 60px;
  }
}

.logo-footer {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
  color: var(--white-color);
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .footer-contacts__item:nth-child(1) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts__item:nth-child(1) {
    margin-bottom: 8px;
  }
}

.footer-contacts__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address .header-contacts__link + .header-contacts__link {
  padding-bottom: 9px;
}

.footer-list {
  display: flex;
  margin-top: 20px;
}

.footer-list__item {
  color: var(--white-color);
  border-radius: 50%;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.footer-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.color {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.color:hover, .color:focus {
  background-color: var(--accent-color);
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1199px) {
  .subscribe-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-box {
    margin-left: auto;
  }
}

.footer__title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-form__input {
  margin-bottom: 20px;
  width: 358px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.link-icon {
  text-decoration: none;
  color: inherit;
}

.subscribe-form__button {
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__button:hover, .subscribe-form__button:focus {
  background-color: var(--hero-button-hover-color);
}

.subscribe-form__button .input {
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

.portfolio-list__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-list__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -30px;
  margin-bottom: -30px;
}

.portfolio-list__content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  border-top: none;
}

.direction-link {
  margin-left: 30px;
  margin-bottom: 30px;
}

.card-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-link:hover, .card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*# sourceMappingURL=main.css.map */