:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --pretty-color: #f5f4fa;
  --dark-grey: #afb1b8;
  --overlay: rgba(47, 48, 58, 0.4);
  --hero-background: #2f303a;
}

body {
  margin: 0;
  font-family: Roboto;
  letter-spacing: 0.03em;
  background: var(--white-color);
  color: var(--primary-text-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
}
.header-nav {
  border-bottom: 1px solid #ececec;
  display: flex;
  /* justify-content: center; */
}

.logo {
  color: var(--title-text-color);
}
.logo-name {
  color: var(--accent-color);
}
.logo,
.logo-name {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
}

.link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  cursor: pointer;
}
.link :hover,
:focus {
  color: var(--accent-color);
}
.link-item:hover,
.link-item:focus {
  color: var(--accent-color);
}
.navigation {
  display: flex;
  align-items: center;
  margin-left: 90px;
}

.navigation .item + .item {
  margin-left: 50px;
}

.navigation-link {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: 305px;
}
.navigation-link .item + .item {
  margin-left: 50px;
}
.link-item {
  display: flex;
  vertical-align: middle;
  font-weight: 500;
  line-height: 1.142;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.link-item .contacts {
  margin-right: 10px;
  fill: currentColor;
  /* height: 16px;
  width: 30px; */
}
.contacts {
  margin-top: 2px;
}
.list {
  margin-top: 1px;
}
.link-item .list {
  margin-right: 6px;
}
.navigation-link .item-contacts + .item-contacts {
  margin-left: 30px;
}
.contacts-icons {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.item-contacts :not(:first-child) {
  margin-left: 50px;
}

.anntena {
  display: flex;
  align-items: center;
  justify-content: center;
}
.anntena :hover .anntena :focus {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* main */

.hero {
  padding-top: 200px;
  padding-bottom: 210px;
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: var(--hero-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/tims.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.heading {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}
.button {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: bold;
  padding: 10px 32px;
  border-radius: 4px;
  border: aliceblue;

  background-color: var(--accent-color);
  color: var(--white-color);
}

.description {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.text {
  height: 75px;
  font-size: 14px;
  line-height: 1.714;
  color: var(--primary-text-color);
}
.definition {
  display: flex;
  /* width: 270px; */
}
.description-text {
  width: 270px;
  padding-right: 15px;
  margin-right: 30px;
}

.header {
  display: flex;
  justify-content: center;
}
.section {
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
}
.section-definition {
  padding-top: 94px;
  padding-bottom: 94px;
}
.examples {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--title-text-color);
  align-items: center;
}
.images {
  display: flex;
  justify-content: center;
}

.images .img + .img {
  margin-left: 30px;
}

.drim .img-name + .img-name {
  margin-left: 30px;
}
.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  color: var(--title-text-color);
}
.profession-name {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  /* border-top: none; */
}
.profession {
  margin-bottom: 16px;
  font-weight: normal;
  line-height: 1.187;
  text-align: center;
}
.drim {
  display: flex;
}
.drim .img + .img {
  margin-left: 30px;
}

.drim-tim {
  padding-bottom: 94px;
  background: #f5f4fa;
}

.icons-list {
  margin: auto;
  display: flex;
  justify-content: center;
  /* padding-left: 30px;
  padding-bottom: 30px; */
  /* width: 44px;
  height: 44px; */
  /* margin-top: 10px; */
}

.social-icon-item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  padding: 12px;
}
.social-icon-item:hover {
  background-color: var(--accent-color);
}
.sprite :hover {
  fill: var(--white-color);
  stroke: var(--white-color);
}
.sprite {
  fill: #afb1af;
  width: 20px;
  height: 20px;
  /* margin-right: 30px; */
}
.sprite-list {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list-item {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
  fill: #afb1b8;
  cursor: pointer;
}
.client-logo {
  width: 106px;
  height: 60px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-logo:hover,
.clients-list-item:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-logo:focus,
.clients-list-item:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.footer {
  display: block;
  background: #2f303a;
  /* padding-top: 60px;
  padding-bottom: 60px;
} */
}
.info {
  display: flex;
  justify-content: center;
}
.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  color: var(--white-color);
}
.address .link-item + .link-item {
  padding-bottom: 9px;
}
.link-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
}

.logo-footer {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
  color: var(--white-color);
}
b {
  font-size: 14px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-icon {
  flex-wrap: wrap;
}
.footer-list {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icons {
  background-color: rgba(255, 255, 255, 0.1);
  /* display: block; */
  width: 44px;
  height: 44px;
  fill: var(--white-color);
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.footer-item {
  fill: var(--white-color);
  padding: 12px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.footer-item:hover,
.footer-item-icon :hover {
  background-color: var(--accent-color);
}
.footer-list-icon {
  width: 20px;
  height: 20px;
}
/* портфолио */
.sing-link {
  padding: 6px 22px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.625;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: aliceblue;
  color: var(--title-text-color);
}
.sing-link :hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 87px;
}
.button-nav .sing + .sing {
  margin-left: 8px;
}
.sing-link:hover {
  background-color: var(--accent-color);
  color: var(--pretty-color);
}
.mail {
  margin-bottom: 9px;
}
.directions {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.annexes {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: -30px;
  margin-bottom: -30px;
}
.link-group {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  border-top: none;
}
.direction-link {
  margin-left: 30px;
  margin-bottom: 30px;
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
