:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --pretty-color: #f5f4fa;
  --dark-grey: #afb1b8;
  --overlay: rgba(47, 48, 58, 0.4);
  --hero-background: #2f303a;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-list__link,
.modal__button,
.modal-policy,
.checkbox-icon-wrapper,
.description-list__img,
.our-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

b {
  font-size: 14px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background: var(--white-color);
  color: var(--primary-text-color);
}

.section-definition {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.thumb {
  position: absolute;
}

.logo {
  color: var(--title-text-color);
}

.nav__logo--color-black {
  color: var(--accent-color);
}

.logo,
nav__logo--color-black {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
}

.client-logo {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.logo-footer {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
  color: var(--white-color);
}

.button {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: bold;
  padding: 10px 32px;
  border-radius: 4px;
  border: aliceblue;
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-buttons__button {
  padding: 6px 22px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.625;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  border: aliceblue;
  color: var(--title-text-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons__button:hover,
.portfolio-buttons__button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: 250ms;
  background-color: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data .button:hover,
.data .button:focus {
  background-color: #188ce8;
}

.portfolio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 87px;
}

.portfolio-buttons .portfolio-buttons__item + .portfolio-buttons__item {
  margin-left: 8px;
}

.portfolio-buttons__button:hover,
.portfolio-buttons__button:focus {
  background-color: var(--accent-color);
  color: var(--pretty-color);
}

.submit-button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 10px 55px;
  margin-top: 30px;
  background-color: var(--accent-color);
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.subscribe-form__button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__button:hover,
.subscribe-form__button:focus {
  background-color: var(--hero-button-hover-color);
}

.subscribe-form__button .input {
  margin-left: 10px;
}

.examples-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--title-text-color);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-list {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social-list__item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  margin-right: 10px;
  /* padding: 12px; */
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  color: #afb1af;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.profession-name {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

.modal__button:hover {
  cursor: pointer;
}

.modal__button .input {
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover .input {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-form__label {
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover {
  cursor: pointer;
}

.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__wrapper {
  position: relative;
}

.modal-form__wrapper .input {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .input {
  fill: var(--accent-color);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  cursor: pointer;
}

&:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-policy {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.modal-policy:hover {
  cursor: pointer;
}

.checkbox-icon-wrapper {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked + .checkbox-icon-wrapper {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon/checked.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
}

.policy-checkbox:focus + .checkbox-icon-wrapper {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

.modal-policy__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.header {
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav {
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link {
  font-size: 14px;
  position: relative;
  display: block;
  font-weight: 500;
  color: var(--title-text-color);
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-color);
}

.active-nav::after {
  content: '';
  position: absolute;
  bottom: -33px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.navigation__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contacts__link {
  font-size: 14px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .navigation__link,
.header.header-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 90px;
}

.navigation__item {
  font-size: 14px;
}
.navigation .navigation__item + .navigation__item {
  margin-left: 50px;
}

.header-contacts {
  margin-left: 305px;
}

.header-contacts .navigation__item + .navigation__item {
  margin-left: 50px;
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.header-contacts__link .contacts {
  margin-right: 10px;
  fill: currentColor;
}

.contacts {
  margin-top: 2px;
}

.list {
  margin-top: 1px;
}

.header-contacts__link .list {
  margin-right: 6px;
}

.header-contacts .header-contacts__item + .header-contacts__item {
  margin-left: 30px;
}

.hero {
  background-size: 1600px;
  padding-top: 200px;
  padding-bottom: 210px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--hero-background);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url('../images/tims.jpg');
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/tims.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

.images-list__item + .images-list__item {
  margin-left: 30px;
}

.our-works-text__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.definition-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description-list__item {
  width: 270px;
  margin-right: 30px;
}

.description-list__item {
  width: 270px;
  margin-right: 30px;
}

.description-list__img {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.description {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.text {
  height: 75px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.drim-tim {
  padding-bottom: 94px;
  background: #f5f4fa;
}

.drim-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drim-list .images-list__item + .images-list__item {
  margin-left: 30px;
}

.examples-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  color: var(--title-text-color);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
social-list__link .drim-list .drim-list__item + .drim-list__item {
  margin-left: 30px;
}

.profession-name {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.profession_description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.profession__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.our-works-text__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.clients-list {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-list__item {
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.client-logo {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.our-clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__link:hover,
.our-clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.our-clients__link:focus-visible {
  border: 1px solid var(--accent-color);
}

.footer {
  display: block;
  background: #2f303a;
}

.info .index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.address .header-contacts__link + .header-contacts__link {
  padding-bottom: 9px;
}

.footer-contacts__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.subscribe-box {
  margin-left: auto;
}

.subscribe-box .subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-box .subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-buttons .portfolio-buttons__item + .portfolio-buttons__item {
  margin-left: 8px;
}

.portfolio-list__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-list__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -30px;
  margin-bottom: -30px;
}

.portfolio-list__content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  border-top: none;
}

.card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card-link:hover,
.card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card-text {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
/*# sourceMappingURL=main.css.map */
