.footer {
  display: block;
  background: #2f303a;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: baseline;
  }
}
.info .index {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  @media  screen and (min-width: 1199px){
    align-items: baseline;
   
  }}


@media screen and (max-width: 1199px) {
  .index{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}



@media screen and (min-width: 1200px) {
  .footer-address-container {
    margin-right: 70px;
  }}

@media screen and (max-width: 1199px) {
  .footer-address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

.footer-address-container .address {
  margin-bottom: 8px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .footer-address-container .address {
    margin-bottom: 9px;
  }
}


.logo-footer {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
  color: var(--white-color);
}
// .address {
//   margin-top: 20px;
//   margin-bottom: 9px;
//   font-style: normal;
//   font-weight: normal;

//   @include font(14px, 1.143, 0.03em);
//   color: var(--white-color);
// }


@media screen and (min-width: 1200px) {
  .footer-contacts__item:nth-child(1) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts__item:nth-child(1) {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

.footer-icons{
  fill: var(--white-color);
}

.footer-contacts__link {
  font-style: normal;
  font-weight: normal;
  @include font(14px, 1.71, 0.03em);
  color: rgba(255, 255, 255, 0.6);
}
.address .header-contacts__link + .header-contacts__link {
  padding-bottom: 9px;
}
.footer-list {
  display: flex;
  margin-top: 20px;
}
.footer-list__item {
  color: var(--white-color);
  border-radius: 50%;
  border: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-list-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.color {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.social-list__link {
  @extend %flex-align-justify;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  cursor: pointer;
  border: 0;
  // color: #ffffff;
  // color: #afb1af;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1199px) {
  .subscribe-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-box {
    margin-left: auto;
  }
}

.subscribe-form {
  display: flex;
}

.footer__title {
  margin-top: 60px;
  margin-bottom: 20px;

  font-weight: 500;

  @include font(14px, 1.143, 0.03em);
  text-transform: uppercase;

  color: var(--white-color);
}
@media screen and (max-width: 1199px) {
  .subscribe-form {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.subscribe-form__input {
  margin-bottom: 20px;
  width: 358px;

  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  color: var(--white-color);

  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.link-icon {
  text-decoration: none;
  color: inherit;
}
.subscribe-form__button {
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;

  font-weight: 500;

  @include font(16px, 1.875, 0.06em);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hero-button-hover-color);
  }
}

.subscribe-form__button .input {
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}