.header {
  position: relative;
}
.navigation__item {
  font-size: 14px;
}
.header-nav {
  border-bottom: 1px solid #ececec;
  display: flex;
}
.navigation__link {
  font-size: 14px;
  position: relative;
  display: block;
  font-weight: 500;

  color: var(--title-text-color);
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-contacts__link {
  
  font-size: 14px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.active-nav::after {
  content: '';
  position: absolute;
  bottom: -33px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.navigation__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header .navigation__link,
.header.header-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  margin-left: 60px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
@media screen and (min-width: 767px) {
.navigation .navigation__item + .navigation__item {
  margin-left: 30px;
}
}

@media screen and (min-width: 768px) {
  .header-contacts__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__icon {
    margin-right: 10px;
  }
}
.hgh{
  margin-left: 30px;
}

.header-contacts {
  // @extend %flex-align;
  margin-left: 100px;
  
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}


.header-contacts .navigation__item + .navigation__item {
  margin-left: 50px;
}
.header-contacts__link {
  display: flex;
  vertical-align: middle;
  font-weight: 500;
  @include font(14px, 1.143, 0.02em);
  text-decoration: none;
  color: var(--primary-text-color);
}
.header-contacts__link .contacts {
  margin-right: 10px;
  fill: currentColor;
}
.contacts {
  margin-top: 2px;
}

.header-contacts__link .list {
  margin-right: 6px;
}
.header-contacts .header-contacts__item + .header-contacts__item {
  margin-left: 30px;
}
.contacts-icons {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts__item :not(:first-child) {
  margin-left: 50px;
}

.link-item {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item .list {
  margin-right: 6px;
}
.header-nav {
  display: block;
  // @media screen and (min-width: 1200px) {
  //   display: none;
  // }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-color: var(--white-color);
  transform: translateX(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }
}


.menu-container.is-open {
  transform: translateX(0);
}
.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-list__link--current {
  color: var(--accent-color);
}

.contacts-list {
  margin-bottom: 64px;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-list__link--big {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    font-size: 34px;
    line-height: 1.176;
  }
}

.contacts-list__link--small {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: inherit;
}
.social-link-list {
  display: flex;
  align-items: center;
  @media screen and (max-width: 479px) {
    flex-wrap: wrap;
  }
}

.social-link-list__item {
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.social-link-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
