.drim-tim {
  padding-bottom: 94px;
  background: #f5f4fa;
}
.drim-list {
  display: flex;
}
.drim-list .images-list__item + .images-list__item {
  margin-left: 30px;
}

.drim-list .drim-list__item + .drim-list__item {
  margin-left: 30px;
}
.our {
  display: block;
}
.profession-name {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.profession_description {
  @include font(16px, 1.187, 0.03em);
  text-align: center;
}
.profession__title {
  margin-bottom: 10px;
  font-weight: 500;
  @include font(16px, 1.187, 0.03em);
  text-align: center;
  color: var(--title-text-color);
}
.social-list {
  margin: auto;
  display: flex;
  justify-content: center;
}
.social-list__item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  margin-right: 10px;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.sprite {
  fill: currentColor;
  width: 20px;
  height: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  color: #afb1af;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
}
