.portfolio-list__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  @include font(18px, 2, 0.06em);
  color: var(--title-text-color);
}
.portfolio-list__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -30px;
  margin-bottom: -30px;
}
.portfolio-list__content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  border-top: none;
}
.direction-link {
  margin-left: 30px;
  margin-bottom: 30px;
}
.card-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
