// .logo {
//   color: var(--title-text-color);
// }
// .nav__logo--color-black {
//   color: var(--accent-color);
// }
// .logo,
// nav__logo--color-black {
//   padding-top: 24px;
//   padding-bottom: 25px;
//   font-family: Raleway;
//   font-size: 26px;
//   line-height: 1.192;
// }
// .client-logo {
//   fill: currentColor;
//   width: 106px;
//   height: 60px;
// }
// .logo-footer {
//   font-family: Raleway;
//   font-size: 26px;
//   line-height: 1.192;
//   color: var(--white-color);
// }
.nav {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--title-text-color);
}
.nav__logo--color-black {
  color: var(--accent-color);
}
.logo,
.nav__logo--color-black {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
}
