body {
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background: var(--white-color);
  color: var(--primary-text-color);
  color: #afb1af;
}
@media screen and (max-width: 769px){
  .section-definition{
*{
  box-shadow: none;
}
::after{
  box-shadow: none;
}
:before{
  box-sizing:none}
  
}}