a {
  text-decoration: none;
  color: inherit;
}


ul,
ol {
  list-style: none;
  padding-left: 0;
}


// @media screen and (min-width: 768px) {
//  .clients-list ul{
//   list-style: none;
//    padding-left: none;
//  }}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
b {
  font-size: 14px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
