.section-definition {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section {
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
