:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --pretty-color: #f5f4fa;
  --dark-grey: #afb1b8;
  --overlay: rgba(47, 48, 58, 0.4);
  --hero-background: #2f303a;
}
